/* * {
  outline: 1px solid red; 
} */

.image-container {
  height: 80vh; /* 70% of the viewport height */
  
  overflow: hidden; /* Prevent image from spilling out */
  display: flex;
  align-items: center;
   object-fit: cover;
   margin-top: 30px;
  width: 100%;
  justify-content: center;
}
.download-btn {
 margin-left: 20%;
  text-align: center;/* top-bottom 20px, center horizontally */
      /* to center with margin auto */
}

.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the container */
  display: block;
}

.core{
    background-color: #f0f8ff;
        border: 1px solid #ccc;
        padding: 20px;
      margin: 40px;
        border-radius: 10px;
     
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.core h4 {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  color: #0077cc;
  
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hel{
       
  padding: 20px;
  
}
.heading {
   font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800;
  font-style: oblique;
text-decoration: overline green;
  color: black;
  font-size: 2.5rem;
text-align: center;
}
.para{
   font-family: "Anton", sans-serif;
  font-weight: 400;
  margin-left: 60px;
  padding:10px;
  font-style: normal;
  color: black;
  font-size: 1.2rem;
   text-align: left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  color: #0000;
  z-index: 999;
}

.logo {
 
  font-weight: bold;
  padding-left: 40px;
  color: #1f1f1f;
  cursor: pointer;
   font-size: 25px;
  font-family: "Anton", sans-serif;
}
.logo:hover {
  color: #0077cc;
  text-decoration: none;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #0000;
  margin: 0;
}
.nav-links a {
  text-decoration: none;
  color: black; /* ✅ Correct color */
  font-weight: 500;
  font-size: 20px;
  font-family: "Anton", sans-serif;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

/* .nav-links a:hover {
  color: #0077cc;
 
  transform: scale(1.1); /* Slight zoom effect} */


/* 
Optional: add underline animation on hover
.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0077cc;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
} */
/* 
.nav-links a:hover::after {
  width: 100%;
} */

/* Responsive for mobile */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
}




/* Footer */
.footer {
  font-family: "Poppins", sans-serif;
}

.newsletter-box {
  border: 1px solid #198754;
  background: transparent;
}

.newsletter-input input {
  border-radius: 50px 0 0 50px;
  padding: 12px 20px;
}

.newsletter-input button {
  border-radius: 0 50px 50px 0;
  padding: 12px 20px;
  font-size: 1.2rem;
}








